* {
  font-family: "sans-serif", "cursive", "arial";
}

body {
  background-color: #F1F1F2;
}

.container {
  width: 100%;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: #53389F;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
.container nav {
  font-size: 35px;
}
.container .navbar li {
  --s: 0.1em; /* the thickness of the line */
  --c: #0fb9f1; /* the color */
  color: rgba(0, 0, 0, 0);
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  text-decoration: none;
  display: inline;
}
.container .navbar li:hover {
  --_p: 100% ;
}
.container .navbar a {
  text-decoration: none;
  color: #EFE3F7;
}
.container .navbar a:hover {
  color: #0fb9f1;
}

.menu li {
  margin-right: 50px;
}

.container2 {
  width: 100%;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: #6941C6;
  border-radius: 15px;
  justify-content: center;
  padding: auto;
  display: flex;
}
.container2:hover {
  transition: 1s;
  background-color: #7d4fe9;
}
.container2 p {
  word-spacing: 10px;
  font-family: "Tahoma";
  display: flex;
  color: #EFE3F7;
  padding: 10px 10px 10px 10px;
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
}
.container2 img {
  margin-top: 25px;
  margin-right: 25px;
  width: 50%;
  float: left;
  border-radius: 50%;
  transition: 0.5s ease;
}
.container2 img:hover {
  box-shadow: 20px 20px 20px #0fb9f1;
  transition: 0.5s ease;
}
.container2 h3 {
  word-spacing: 10px;
  font-family: "Tahoma";
  display: flex;
  color: #EFE3F7;
  padding: 10px;
  font-size: 60px;
}
.container2 .satu, .container2 .dua, .container2 .tiga, .container2 .pat {
  --c: #13a9db;
  --a:#EFE3F7; /* the color */
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, #fff 100%, var(--a) 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.container2 .satu:hover, .container2 .dua:hover, .container2 .tiga:hover, .container2 .pat:hover {
  --_p: 60% ;
}

.kotak-tema {
  word-spacing: 10px;
  font-family: "Tahoma";
  display: flex;
  color: #EFE3F7;
  padding: 10px 10px 10px 10px;
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: #6941C6;
  border-radius: 15px;
  justify-content: center;
  padding: auto;
  display: flex;
}
.kotak-tema:hover {
  transition: 1s;
  background-color: #7d4fe9;
}
.kotak-tema img {
  margin-top: 25px;
  margin-right: 25px;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  transition: 0.5s ease;
}
.kotak-tema img:hover {
  box-shadow: 10px 10px 10px #0fb9f1;
  transition: 0.5s ease;
}

.kotak-kecil {
  width: 400px;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: #7d4fe9;
  border-radius: 15px;
  justify-content: center;
  padding: auto;
  display: flex;
}

footer {
  text-align: center;
}/*# sourceMappingURL=main.css.map */